table,th,td {
    border: 1px solid;
    margin-left: 300px;

}

#textfla {
    text-align: left;
}

#sccp {
    text-align: left;
}

#spfc {
    text-align: left;
}

#cz {
    text-align: left;
}

#vs {
    text-align: left;
}

#pal {
    text-align: left;
}

table {
    width: 50%;
    border-collapse: collapse;
}

img {
    margin: 1px;
    float: 5%;
    width: 15px;
    height: auto;
    margin-left: center;
}